*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.load2{
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 800px;
    border-radius: 50%;
}


.load{
    height: 100px;
    width: 100px;
    border: 15px solid;
    border-color: rgb(126, 126, 126) transparent transparent transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: loadingAnimation;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes loadingAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}