#exportButton{
    background-color: orangered;
    width: 100px;
    height: 30px;
    margin: 0px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 90%;
    margin-top: 10px;
    
}


button:hover{
    box-shadow: 2px 3px 3px;
    transform: scale(1.03);
  
  }
  .dark-mode {
    background: linear-gradient(to right, #6c0073, #981818);
  }
