button{
    background-color: orangered;
    width: 50px;
    height: 30px;
    margin: 0px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    
}

#maindiv:hover button{
  margin-left: 28px;
}
button:hover{
    box-shadow: 2px 3px 3px;
    transform: scale(1.03);
  
  }
  .darkmode {
    background: linear-gradient(to right, #200122, #6f0000);
  }

 #exportButton{
  margin-left: 1140px;
  width: 50px;
  height: 30px;
}
  