* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
#maincont{
  width: 100%;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);

}
#container {
  padding-left: 120px;
  width: 100%;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  padding-top: 10px;
}

.mainUserdiv {
  margin: 10px;
  padding: 5px;
  width: 95%;
  /* height: 360px; */

}

.userDiv {
  background-color: grey;
  padding: 10px;
  margin: 20px;
  min-height: 326px;
  border-radius: 20px;
  box-shadow: 5px 3px 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.userDiv:hover {
  box-shadow: 2px 3px 3px;
  transform: scale(1.03);
}

.titlediv {
  /* width: 280px; */
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.bodydiv {
  /* width: 280px; */
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
}
.reaction {
  /* width: 280px; */
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-right: 10px;
}
.likesdiv {
  width: 100px;
  background-color: green;
  border-radius: 20px;
  width: 30%;
  padding: 10px;
}
.dislikesdiv {
  width: 100px;
  background-color: red;
  border-radius: 20px;
  width: 30%;
  padding: 10px;
}
.namediv {
  /* width: 280px; */
  text-align: center;
  font-size: 20px;
  padding: 5px, 0px;

  margin-top: 10px;
  margin-bottom: 20px;
}
.tagsdiv {
  text-align: center;
}

#sidebar-cont {
  position: fixed;
  height: -webkit-fill-available;
  width: fit-content;
}

.load {
  height: 100px;
  width: 100px;
  border: 10px solid transparent;
  border-top: 10px solid rgb(86, 186, 249);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -100px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: loadingAnimation;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes loadingAnimation {
  from {
    transform: translate(-50px, -100px) rotate(0deg);
  }
  to {
    transform: translate(-50px, -100px) rotate(360deg);
  }
}

.loadButton {
  height: 30px;
  width: 100px;
  background-color: #c5c5c5;
  margin-left: 80%;
  margin-bottom: 10px;
  font-weight: bold;
  color: blue;
  border-radius: 10px;
}
