* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  width: 100%;
  min-height: 100vh;
  padding-left: 200px;
  margin: 0%;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.userDiv {
  width: 300px;
  background-color: grey;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 2px 4px rgb(53, 53, 53);
  text-align: center;
  cursor: pointer;
  
}
.userDiv:hover{

  box-shadow: 2px 3px 3px;
  transform: scale(1.03);
 


}

.titlediv {
  width: 280px;
  font-size: 25px;

  margin-left: 10px;
}
.bodydiv {
  width: 280px;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
}
.reaction {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.likesdiv {
  width: 100px;
  background-color: green;
  border-radius: 20px;
}
.dislikesdiv {
  width: 100px;
  background-color: red;
  border-radius: 20px;
}
.namediv {
  width: 280px;
  text-align: center;
  font-size: 18px;
  padding: 5px, 0px;

  margin-top: 10px;
  margin-bottom: 10px;
}
.tagsdiv{
  text-align: center;
}

#sidebar-cont {
  position: fixed;
  height: -webkit-fill-available;
  width: fit-content;
}

.overlay {
  position: fixed;

  text-align: center; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(3px);
  z-index: 2;
  color: white;
  
}

.close_btn{
  height: 30px;
  width: 100px;
  border-radius: 20px;
  background-color: #f64f59;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}