* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.container{
    padding-left: 120px;
    width: 100%;
    background: #b39999;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(50, auto);
}


.pdct{
    margin: 10px;
    padding: 5px;
    width: 94%;
    min-height: 326px;
    background-color: rgb(176, 178, 179);
    border-radius: 20px;
    box-shadow: 3px 4px 8px  rgb(50, 50, 50);
    text-align: center;
    cursor: pointer;    

}
#RtSt{
    display: flex;
    justify-content: space-between;
}
.pdct:hover{
    opacity: 85%;
    box-shadow: 2px 3px 3px 3px rgb(218, 218, 218);
    transform: scale(1.03);

}
#hr{
    border: 2px solid;
}

#prdctimg{
    height: 100px;
    width: 100px;
}
#sidebar-cont {
    position: fixed;
    height: -webkit-fill-available;
  }



  .load{
    height: 100px;
    width: 100px;
    border: 10px solid rgb(243, 243, 243);
    border-top: 10px solid rgb(86, 186, 249);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50px, -50px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: loadingAnimation;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loadingAnimation {
    from{
        transform: translate(50px, -50px) rotate(0deg);
    }
    to{
        transform: translate(50px, -50px) rotate(360deg);
    }
}