* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}



.con{
    padding-left: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.pdct {
    margin: 10px;
    padding: 5px;
    width: 30%;
    height: 350px;
    background-color: rgb(176, 178, 179);
    border-radius: 20px;
    box-shadow: 5px 3px 10px;
    word-wrap: break-word;  
    text-align: center;
    cursor: pointer;    
}
.pdct:hover{
    opacity: 85%;
    box-shadow: 2px 3px 3px;
    transform: scale(1.03);

}
#hr{
    border: 2px solid;
}

#prdctimg{
    height: 100px;
    width: 100px;
}