#body{
    display: flex;
}



#div1{
    width: 110px;
    height: 30px;
   
    margin: 10px;
    padding: 5px;
    text-align: left;
    border-radius: 20px;
}

#div2{
    width: 110px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    text-align: left;  
      border-radius: 20px;

}
#div3{
    width: 110px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    text-align: left;
    border-radius: 20px;

}

#maindiv{
    position: fixed;
    left: 0px;
    top: 0px;
     width: 200px;
     height: 100vh;
     background-color: rgb(57, 197, 197);
}