* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body{
     background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); 
}
html {
  scroll-behavior: smooth;
}

#container{
    padding-left: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#sidebar-cont {
  position: fixed;
  height: -webkit-fill-available;
  width: fit-content;
}

  .load{
    height: 100px;
    width: 100px;
    border: 10px solid transparent;
    border-top: 10px solid rgb(86, 186, 249);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50px, -50px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: loadingAnimation;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loadingAnimation {
  from {
    transform: translate(50px, -50px) rotate(0deg);
  }
  to {
    transform: translate(50px, -50px) rotate(360deg);
  }
}

.searchUser {
  display: flex;
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 2px;
}

.searchInput {
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
  margin-left: 10px;
  padding-left: 5px;
  background-color: #e9e9e9;
  border-radius: 10px;
}

.searchIcon {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.sorting-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}


.sorting-buttons button {
  padding: 10px 20px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
  
#mainTable{
width: 100%;
margin-right: 20px;
margin-top: 5px;
}
#table{
  border-collapse: collapse;
  border: 2px solid black;
  cursor: pointer;
}
::-webkit-scrollbar{
  display: none;
}

.trInfo{

  padding: 10px;
  background-color: #e8e8e8;
  text-align: center;
  display: flex;
  display: none;
  transition: 0.4s ease;
}
#userimg{
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.accordion-content{
  display: flex;
  background-color: #fff;
  justify-content: space-evenly ;
}


.top-button {
  width: 60px;
  height: 60px;
  background-color: blue;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: fixed;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  user-select: none;
}

.top-button:hover {
  background-color: darkblue;
}
#users_num_select{
  width: 100px;
  border-radius: 10px;
  padding: 5px;
}
.row-checkbox{
  width:100%;
  height: 40px;
  cursor: pointer;
}