* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body{
     background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); 
}
html {
  scroll-behavior: smooth;
}

#container{
    padding-left: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#sidebar-cont {
  position: fixed;
  height: -webkit-fill-available;
  width: fit-content;
}

  

@keyframes loadingAnimation {
  from {
    transform: translate(50px, -50px) rotate(0deg);
  }
  to {
    transform: translate(50px, -50px) rotate(360deg);
  }
}
#searchUser{
  margin-left: 20%;
}


.sorting-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}


.sorting-buttons button {
  padding: 10px 20px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
  
#mainTable{
width: 100%;
margin-right: 20px;
margin-top: 5px;
}
#table{
  border-collapse: collapse;
  border: 2px solid black;
  cursor: pointer;
}
::-webkit-scrollbar{
  display: none;
}

.trInfo{

  padding: 10px;
  background-color: #e8e8e8;
  text-align: center;
  display: flex;
  display: none;
  transition: 0.4s ease;
}
#userimg{
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.accordion-content{
  display: flex;
  background-color: #fff;
  justify-content: space-evenly ;
}



#users_num_select{
  width: 100px;
  height:30px;
  border-radius: 10px;
  padding: 5px;
}
.row-checkbox{
  width:100%;
  height: 40px;
  cursor: pointer;
}
.selectrole{
  background: none;
  border:none;
}